<div class="bg-social rounded-lg pt-5">
    <div class="container text-center pb-5 pt-5">
        <h4>Siga-nos nas nossas redes sociais</h4>

        <div class="icon-panel pb-5 pt-5">
            <a href="#">
                <img src="assets/img/facebook-small.png">
            </a>

            <a href="#">
                <img class="ml-5 mr-5" src="assets/img/twiiter-small.png">
            </a>
            
            <a href="#">
                <img src="assets/img/instagram-small.png">
            </a>
        </div>

        <p class="mt-5">Não se esqueça de curtir e compartilhar nossas páginas</p>
    </div>
</div>