<div class="row">
    <img src="assets/img/user-clear.png" alt="icone de usuario">
</div>

<form>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>

    <div class="form-group">
        <label for="email">Senha</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <button type="submit" class="btn btn-block btn-primary mt-4">Entrar</button>

    <div class="row mt-5">
        <div class="col-sm">
            <p>Não possui uma conta? <a href="#">cadastre-se</a></p>
        </div>

        <div class="col-sm float-left">
            <a href="#" class="float-right">Esqueceu a senha?</a>
        </div>
    </div>
</form>