/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #F1F1F1;
}

.bg-gray {
    background-color: #BABABA;
}

.btn-blue {
    color: #fff;
    transition-duration: 50ms;
    background-color: #0166FD;
}

.btn-blue:hover {
    color: #fff;
    background-color: rgb(2, 81, 201);
}